/* 
1 - FOOTER
2- FORMS
3- IMAGE LAYERS
4- NAVIGATION
5- TABBED CONTENT
6- TYPOGRAPHY
*/

html, body {
  height: 100%;
}

.container-fluid {
  padding: 60px 50px;
}

.main-container {
  clear: both;
}

.page-title {
  padding: 0;
}

.page-title .container {
  position: relative;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  top: 50%;
  z-index: 2;
}

.page-title-4 {
  height: 240px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.bg-secondary {
  background: #f8f8f8 !important;
}

img {
  max-width: 100%;
}

.image-square {
  height: 50vw;
  max-height: 640px;
  overflow: hidden;
  padding: 0;
}

.image-square .image, .image-square>.content {
  position: absolute;
}

.image-square .image {
  height: 100%;
}

.image-square>.content {
  padding: 0 10%;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
}

.image-square.left .image {
  left: 0;
}

.image-square.left>.content {
  right: 0;
}

.background-image-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-position: 50% 50% !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.background-image-holder img {
  display: flex;
}

@media all and (max-width: 990px) {
  .image-square {
    height: auto;
    max-height: 100000px;
    padding-bottom: 48px;
  }
  .image-square .image, .image-square>.content {
    position: relative;
  }
  .image-square .image {
    height: 100vw;
    margin-bottom: 48px;
    max-height: 500px;
  }
  .image-square>.content {
    top: 0;
    transform: none;
    -webkit-transform: none;
    padding: 0 20%;
  }
}

@media all and (max-width: 766px) {
  .image-square>.content {
    padding: 0 15px;
  }
}

.uppercase {
  font-weight: 400;
  text-transform: uppercase;
}

/* FORMS */

input, select, button, textarea {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="text"], select, button, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"] {
  background: #f5f5f5;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  border-radius: 0;
}

textarea {
  width: 100%;
  border: none;
  background: #f5f5f5;
  margin-bottom: 24px;
  border-radius: 0;
  padding: 16px 20px;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}

textarea:focus {
  border: 1px solid #ccc;
}

:-moz-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}

::-moz-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}

:-ms-input-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  font-size: 11px;
}

button[type="submit"] {
  height: 50px;
  line-height: 48px;
  border: 2px solid #47b475;
  background: #47b475;
  color: #fff;
  width: 100%;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0 !important;
}

.bg-primary button[type="submit"] {
  background: #fff;
  color: #47b475;
}

.select-option {
  position: relative;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  margin-bottom: 24px;
}

.select-option select {
  margin-bottom: 0;
}

select {
  height: 50px;
  background: #f5f5f5;
  width: 100%;
  border-radius: 0;
  border: none;
  outline: none;
  padding-left: 20px;
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  cursor: pointer;
}

select:focus {
  background: #eee;
}

select:active, select:focus, select:hover {
  outline: none;
  border: none;
}

.checkbox-option, .radio-option {
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid #232f3e;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 24px;
}

.checkbox-option .inner, .radio-option .inner {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #232f3e;
  position: relative;
  top: 2px;
  left: 2px;
  display: inline-block;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.checkbox-option.checked .inner {
  transform: translate3d(25px, 0, 0);
  -webkit-transform: translate3d(25px, 0, 0);
  -moz-transform: translate3d(25px, 0, 0);
  background: #232f3e;
}

.checkbox-option input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.radio-option {
  width: 25px;
  height: 25px;
  text-align: left;
}

.radio-option:nth-of-type(n+2) {
  margin-left: 24px;
}

.radio-option input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.radio-option .inner {
  border: none;
  width: 19px;
  height: 19px;
  left: 2px;
  transform: scale(0);
  -webkit-transform: scale(0);
}

.feature.boxed {
  padding: 32px;
  background: #f8f8f8;
}

/* END OF FORMS */

/* FOOTER */

footer {
  background-color: #232f3e;
  color: #fff !important;
}

section, footer {
  padding: 96px 0;
  position: relative;
  overflow: hidden;
}

footer {
  padding: 72px 0;
}

@media(max-width:766px) {
  section {
    padding: 80px 0;
  }
  footer img {
    width: 180px;
  }
  @media(min-width:768px) {
    footer img {
      width: 180px;
    }
  }
}

/*END OF FOOTER */

/* IMAGE LAYERS */

.first {
  /* image used */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hand.jpg');
  padding-top: 140px;
  /* height used */
  min-height: 300px;
  background-size: cover !important;
  height: 70vh;
  /* create parallex scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 17%;
}

.first-about {
  /* image used */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(194, 91, 91, 0)), url('core\ value\ 2.png');
  padding-top: 140px;
  /* height used */
  min-height: 300px;
  background-size: cover !important;
  height: 70vh;
  /* create parallex scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 17%;
}

.first-contact {
  /* image used */
  background: rgba(147, 147, 147, 0.116);
  padding-top: 140px;
  /* height used */
  min-height: 300px;
  background-size: cover !important;
  height: 50vh;
  /* create parallex scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  padding-top: 17%;
}

.strong-900 {
  font-size: 40px;
  font-weight: 600 !important;
}

@media(max-width:766px) {
  .first {
    height: 90vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('hand.jpg');
  }
  .first h2 {
    visibility: hidden;
  }
  .first ul {
    visibility: hidden;
  }
  .first-about {
    height: 90vh;
  }
}

/* END OF IMAGE LAYERS */

/* NAVIGATION */

.nav-link {
  color: rgb(147, 147, 147) !important;
}

.nav-color {
  background-color: #fff !important;
}

.navbar {
  border-bottom: 1px solid rgba(35, 47, 62, 0.13);
}

.navbar-nav li {
  padding-right: 20px;
}

.bg-dark {
  transition: 750ms ease;
  background-color: #ffffff !important;
}

.bg-dark.scrolled {
  background-color: #232f3e !important;
}

.navbar-brand img {
  height: 50px;
}

.navbar-toggler {
  background-color: rgb(147, 147, 147) !important;
}

/* END OF NAVIGATION */

/* TABBED CONTENT */

.tabs {
  overflow: hidden;
}

.tabs li {
  display: inline-block;
  cursor: pointer;
}

.button-tabs .tabs {
  display: inline-block;
  overflow: hidden;
}

.button-tabs .tabs>li {
  margin-bottom: 8px;
  float: left;
}

.button-tabs .tabs>li:last-child {
  margin-right: 0;
}

.button-tabs .tab-title {
  padding: 13px;
  display: inline-block;
  text-align: center;
  min-width: 150px;
  background: #f5f5f5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.bg-secondary .button-tabs .tab-title {
  background: #eee;
}

.button-tabs .tab-title span {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.button-tabs .active .tab-title {
  background: #47b475;
  color: #fff;
}

.button-tabs .tab-title:hover {
  background: #eee;
}

.button-tabs .active .tab-title:hover {
  background: #47b475;
}

.tabbed-content .content>li {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  display: none;
}

.tabbed-content .content .active {
  opacity: 1;
  visibility: visible;
  display: block;
}

@media(max-width:766px) {
  .button-tabs .tabs li {
    width: 49%;
    margin-bottom: 15px;
  }
}

/* END OF TABBED CONTENT */

/* TYPOGRAPHY */

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3, h4 {
  margin-bottom: 24px;
  margin-top: 0;
  padding: 0;
  font-weight: 300;
  color: #292929;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media all and (max-width:766px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 18px;
    line-height: 26px;
  }
}

h2.uppercase {
  letter-spacing: 10px;
  margin-right: -10px;
}

h3.uppercase {
  letter-spacing: 6px;
  margin-right: -6px;
}

h4.uppercase {
  letter-spacing: 3px;
  margin-right: -3px;
}

/* END OF TYPOGRAPHY */

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 0 24px 0;
  margin-right: 20%;
}

.block-content.about p {
  font-size: 16px;
  line-height: 30px !important;
  font-family: 'Quicksand', sans-serif;
}

.h3_bold li {
  font-size: 10px;
}

.thumbnail-img {
  transition: transform .2s;
}

.thumbnail-img:hover {
  transform: scale(1.5);
}

.thumbnail-p {
  color: black !important;
  font-size: 1.4rem !important;
}

.text-15, .text-15 li {
  font-size: 1.2rem !important;
}

.heading {
  color: #fff !important;
  font-size: 12px;
  font-weight: bold;
}

.control-label {
  font-size: 13px;
  padding-top: 0px;
}

p.lead {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

@media all and (max-width: 767px) {
  p.lead {
    font-size: 13px;
    line-height: 24px;
  }
  p {
    font-size: 12px;
  }
}

.mb8 {
  margin-bottom: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mt48 {
  margin-top: 48px;
}

.mt-xs-0 {
  margin-top: 0 !important;
}

.mb64 {
  margin-bottom: 64px;
}

.mb-xs-24 {
  margin-bottom: 24px;
}

.overflow-hidden {
  overflow: hidden;
}

.text-left {
  text-align: left !important;
}