/* 
1 - FOOTER
2- IMAGE LAYERS
3- NAVIGATION
4- TABBED CONTENT
5- TYPOGRAPHY
*/

html, body {
  height: 100%;
}

.container-fluid {
  padding: 60px 50px;
}

.main-container {
  clear: both;
}

.page-title {
  padding: 0;
}

.page-title .container {
  position: relative;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  top: 50%;
  z-index: 2;
}

.page-title-4 {
  height: 240px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.bg-secondary {
  background: #f8f8f8 !important;
}

img {
  max-width: 100%;
}

.image-square {
  height: 50vw;
  max-height: 640px;
  overflow: hidden;
  padding: 0;
}

.image-square .image, .image-square>.content {
  position: absolute;
}

.image-square .image {
  height: 100%;
}

.image-square>.content {
  padding: 0 10%;
  top: 80%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
}

.image-square.left .image {
  left: 0;
}

.image-square.left>.content {
  right: 0;
}

.background-image-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-position: 50% 50% !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.background-image-holder img {
  display: flex;
}

@media all and (max-width: 990px) {
  .image-square {
    height: auto;
    max-height: 100000px;
    padding-bottom: 48px;
  }
  .image-square .image, .image-square>.content {
    position: relative;
  }
  .image-square .image {
    height: 100vw;
    margin-bottom: 48px;
    max-height: 500px;
  }
  .image-square>.content {
    top: 0;
    transform: none;
    -webkit-transform: none;
    padding-top: 30%;
  }
}

@media all and (max-width: 767px) {
  .image-square>.content {
    padding-top: 100%;
  }
}

.uppercase {
  font-weight: 400;
  text-transform: uppercase;
}

/* FOOTER */

footer {
  background-color: #232f3e;
  color: #fff !important;
}

@media(max-width:766px) {
  footer img {
    width: 180px;
  }
  @media(min-width:768px) {
    footer img {
      width: 180px;
    }
  }
}

/*END OF FOOTER */

/* IMAGE LAYERS */

.first {
  /* image used */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hand.jpg');
  padding-top: 140px;
  /* height used */
  min-height: 300px;
  background-size: cover !important;
  height: 70vh;
  /* create parallex scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 17%;
}

.first-about {
  /* image used */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(194, 91, 91, 0)), url('core\ value\ 2.png');
  padding-top: 140px;
  /* height used */
  min-height: 300px;
  background-size: cover !important;
  height: 70vh;
  /* create parallex scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 17%;
}

.first-contact {
  /* image used */
  background: rgba(147, 147, 147, 0.116);
  padding-top: 140px;
  /* height used */
  min-height: 300px;
  background-size: cover !important;
  height: 50vh;
  /* create parallex scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  padding-top: 17%;
}

.strong-900 {
  font-size: 40px;
  font-weight: 600 !important;
}

@media(max-width:766px) {
  .first {
    height: 90vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('hand.jpg');
  }
  .first h2 {
    visibility: hidden;
  }
  .first ul {
    visibility: hidden;
  }
  .first-about {
    height: 90vh;
  }
}

/* END OF IMAGE LAYERS */

/* NAVIGATION */

.nav-link {
  color: rgb(147, 147, 147) !important;
}

.nav-color {
  background-color: #fff !important;
}

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.navbar-nav li {
  padding-right: 20px;
}

.bg-dark {
  transition: 750ms ease;
  background-color: #ffffff !important;
}

.bg-dark.scrolled {
  background-color: #232f3e !important;
}

.navbar-brand img {
  height: 50px;
}

.navbar-toggler {
  background-color: rgb(147, 147, 147) !important;
}

/* END OF NAVIGATION */

/* TABBED CONTENT */

.tabs {
  overflow: hidden;
}

.tabs li {
  display: inline-block;
  cursor: pointer;
}

.button-tabs .tabs {
  display: inline-block;
  overflow: hidden;
}

.button-tabs .tabs>li {
  margin-bottom: 8px;
  float: left;
}

.button-tabs .tabs>li:last-child {
  margin-right: 0;
}

.button-tabs .tab-title {
  padding: 13px;
  display: inline-block;
  text-align: center;
  min-width: 150px;
  background: #f5f5f5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.bg-secondary .button-tabs .tab-title {
  background: #eee;
}

.button-tabs .tab-title span {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.button-tabs .active .tab-title {
  background: #47b475;
  color: #fff;
}

.button-tabs .tab-title:hover {
  background: #eee;
}

.button-tabs .active .tab-title:hover {
  background: #47b475;
}

.tabbed-content .content>li {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  display: none;
}

.tabbed-content .content .active {
  opacity: 1;
  visibility: visible;
  display: block;
}

.tab-top {
  padding-top: 6rem;
}

@media(max-width:766px) {
  .button-tabs .tabs li {
    width: 49%;
    margin-bottom: 15px;
  }
}

/* END OF TABBED CONTENT */

/* TYPOGRAPHY */

h3 {
  font-weight: 500;
}

/* END OF TYPOGRAPHY */

hr {
  background-color: #fff !important;
  margin-right: 20%;
}

.block-content.about p {
  font-size: 16px;
  line-height: 30px !important;
  font-family: 'Quicksand', sans-serif;
}

.h3_bold {
  font-weight: bold;
  font-size: 50px;
  font-family: fantasy;
}

.h3_bold li {
  font-size: 10px;
}

.padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.thumbnail-img {
  transition: transform .2s;
}

.thumbnail-img:hover {
  transform: scale(1.5);
}

.thumbnail-p {
  color: black !important;
  font-size: 1.4rem !important;
}

.text-15, .text-15 li {
  font-size: 1.2rem !important;
}

.heading {
  color: #fff !important;
  font-size: 12px;
  font-weight: bold;
}

.control-label {
  font-size: 13px;
  padding-top: 0px;
}